/*
	COLOR SCHEME
#8c4646 - deep red
#d96459 - brighter red
#f2ae72 - peachish
#f2e394 - yellowish
#588c7e - aquaish
*/

@font-face {
	font-family: robotoBlack;
	src: url('../fonts/robotoBlack.ttf');
}

@font-face {
	font-family: sanchez;
	src: url('../fonts/Sanchezregular.otf');
}

#loadscreen{
	background: #000;
	opacity:1;
	position:fixed;
	z-index: 10;
	top:0px;
	width:100%;
	height:100%;
	background-color: black;
	background-size: 100% 100%;
}

#loading{
	color:#FFF;
	width:100%;
	height:100%;
	margin:auto;
	font-family: robotoblack;
	font-size: 200%;
}

body{
	background-color: white;
	width:100%;
	text-align: center;
	overflow-x: hidden;
}

.background{
	position:fixed;
	background-image: url("../images/shipping5.jpg");
	background-color: black;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width:100%;
	min-width: 700px;
	height:100%;
}

/*Logo within the nav bar*/
#companyName{
	font-size: 200%;
	color: #8c4646;
}

#companyName span{
	font-size: 75%;
}

.navbar-inverse{
	opacity: 0.85;
	z-index: 16;
}

/*Link within the nav bar*/
.nav.navbar-nav>li>a{
	position:relative;
	color: white;
}

/*Link within the nav bar being hovered*/
.nav.navbar-nav>li>a:hover{
	background-color: #588c7e;
}

.navbar-fixed-top{
	border-top:none;
	width:100%;
}

#pageTint{
	position:fixed;
	background-color: #000000;
	width:100%;
	height:100%;
	opacity: 0.75;
}

#bar{
	position:absolute;
	background-color: #000000;
	width:100%;
	height: 52px;
	top:100%;
	z-index: 10;
}

#HeadingText{
	position:relative;
	top:100px;
	width:100%;
	float:right;
	text-align: center;
	font-size: 50px;
	color:white;
	font-family: sanchez;
}

#SubHeadingText{
	position:relative;
	width:100%;
	float:right;
	margin-bottom: 50px;
	text-align: center;
	font-size: 30px;
	color:#588c7e;
}

#Content{
	position:relative;
	top:75px;
	width:80%;
	max-width: 500px;
	margin:auto;
	color:white;
	text-align: left;
	font-family: sanchez;
	font-size: 15px;
}

#nextSymbol{
	text-align: right;
}

/*button to see more information*/
.more{
	position:relative;
	width:100%;
	margin:auto;
	height:58px;
	font-size: 35px;
}
.more>button{
	position:relative;
	background-color: black;
	border-color: black;
	border-radius: 10px;
	top:0px;
	width:150px;
	height:100%;
	opacity:1;
}

#moreText{
	position:relative;
	float:left;
	top:0px;
	color: #8c4646;
}

#moreIcon{
	position:absolute;
	top:12px;
	right:10px;
	color: #8c4646;
}

#store{
	position:absolute;
	width:100%;
	height:100%;
	min-height: 600px;
	top:100%;
	background-color: white;
	opacity:0.8;
}

#categoriesContainer{
	position:relative;
	top:0px;
	height:25%;
	min-height: 220px;
	width:100%;
	background-color: white;
	opacity:0.8;
}

#productListContainer{
	position:relative
	height:75%;
	width:100%;
	background-color: white;
	opacity:0.8;
}

#searchBarContainer{
	position:relative;
	width:80%;
	left:10%;
	height:35px;
	top:70px;
	font-size: 20px;
}

#searchBar{
	position:relative;
	width:100%;
	height:100%;
	left:0px;
	background-color: #8c4646;
	border-radius: 5px;
	color:white;
}

#categories{
	position:relative;
	width:100%;
	height:25%;
	top:50px;
	text-align: center;
}

.category{
	position:relative;
	list-style-type: none;
	width:16%;
	min-width: 90px;
	height:50px;
	float:left;
	margin-top: 10px;
}

.category>button{
	position:relative;
	background-color: #929292;
	width:100%;
	height:100%;
	border-radius: 7px;
}

.category>button:hover{
	position:relative;
	background-color: #8c4646;
	color:white;
}

.category>button:focus{
	position:relative;
	background-color: #8c4646;
	color:white;
}


#productList{
	position:absolute;
	width: 100%;
	height:60%;	
	overflow-y: scroll;
}

.item{
	position:relative;
	width:230px;
	height:300px;
	float:left;
	background-color: #B2B2B2;
	color: black;
	border-radius: 5px;
	margin-left:65px;
	margin-top: 40px;
}

.itemTitle{
	position:absolute;
	text-align: left;
	margin-top: 0px;
}

.itemDesc{
	position:absolute;
	text-align: left;
	top:90%;
}

.itemCost{
	position:absolute;
	text-align: left;
	top:80%;
}

.itemImg{
	position:absolute;
	top:30px;
	left:0px;
	width:100%;
	height:70%;
}

.glyphicon{
	color:white;
}
.glyphicon-search{
	position:absolute;
	right:10px;
	color:white;
	font-size: 30px;
}

.vertAlign{
	display: -webkit-flex;
	display:         flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

a:link{
	text-decoration: none;
	color:#8c4646;
}
a:hover{
	text-decoration: none;
	color:#8c4646;
}
a:visited{
	text-decoration: none;
	color:#8c4646;
}
a:active{
	text-decoration: none;
	color:#8c4646;
}